

.modal {
	.top-buttons.d-flex {
		width: 100%;
		justify-content: space-between;
	}
	.modal-footer {
		display: block;
	}

	.modal-close {
		//position: absolute;
	}

	.news-item {
		cursor:default;
	}

	.modal-close {
		width: 100%;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
		background: none;
	}
}

.modal-body {
	padding: 0;

	.news-item {
		margin: 0;
	}

}

.news-item {

	display: flex;
	padding: 10px;
	flex-direction: row;
	margin: 10px;
	cursor: pointer;


	.img {
		width: 40%;
		height: 100px;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 5px;
	}

	.news-info {
		padding: 0 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;


		.title {
			font-weight: 700;
			font-size: 18px;
		}

		.news-source {
			border: 1px solid #8186ab;
			border-radius: 5px;
			padding: 0px 6px;
		}


		.add-info {
			display: flex;
			justify-content: space-between;

			.publication {
				text-align: right;
			}
			div {
				//width: 45%;
			}

		}
	}
}

button.btn.btn-primary.next-news {
	position: absolute ;
	right: -34px !important;
	height: 100%;
	top: 0;
	border-radius: 0;
	opacity: .7;
}

button.btn.btn-primary.prev-news {
	position: absolute ;
	top: 0;
	left: -34px;
	height: 100%;
	border-radius: 0;
	opacity: .7;
}

.modal-content {
	width: calc(100% - 50px);
	left: 25px;
	border-radius: 0;

}



@media screen and (max-width: 450px) {

	.news-item {
		flex-direction: column;


		.img {
			width: 100%;
			height: 100px;
			background-size: cover;
			background-position: 50% 50%;
			margin-bottom: 10px;
			box-shadow: none;
		}
	}

	//button.btn.btn-info.next-news {
	//	position: inherit;
	//	right: -57px;
	//	height: 100%;
	//	top: 0;
	//}
	//
	//button.btn.btn-info.prev-news {
	//	position: inherit;
	//	top: 0;
	//	left: -55px;
	//	height: 100%;
	//}
}

